<% content_for :sidebar do %>
    <ul id="sidebar_post_list">
        <%= render "post_list" %>
    </ul>
<% end %>

<h2>
    <%= @post.title %>
</h2>

<h3>
    <% if user_signed_in? %>
        <%= @post.user.name %>
    <% else %>
        Post author is only visible to logged in users!
    <% end %>
</h3>

<p>
    <%= @post.body %>
</p>

<% if @post.user == @user %>
    <div id="post_options">
        <%= link_to "Edit post", edit_post_path %>
        <%= link_to "Delete post", post_path, data: {turbo_method: :delete} %>
    </div>
<% end %>
