<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>

    <%= link_to image_tag("menu.svg"), root_path, id: "menu_button" %>

    <div id="header">
      <h1><%= link_to "Members Only!", posts_path %></h1>
    </div>

    <div id="sidebar">
      <%= yield :sidebar %>

      <li id="new_post_nav">
        <h3><%= link_to "New Post", new_post_path %></h3>
      </li>

      <% unless user_signed_in? %>
        <li id="sign_in_nav">
          <h3><%= link_to "Sign up", new_user_session_path %></h3>
        </li>

        <li id="sign_up_nav">
          <h3><%= link_to "Sign in", new_user_registration_path %></h3>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li id="my_posts_nav">
          <h3><%= link_to "My Posts", user_posts_path %></h3>
        </li>

        <li id="sign_out_nav">
          <h3><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %></h3>
        </li>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
